# Credenciais do Banco para o Docker
POSTGRES_USER=seu_usuario_postgres_aqui
POSTGRES_PASSWORD=sua_senha_postgres_aqui
POSTGRES_DB=seu_banco_postgres_aqui

# URL dinamicamente montada (o host 'db' e porta '5432' continuam fixos para o Docker)
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}

# Chave de segurança criptográfica do Flask
SECRET_KEY=sua_chave_super_secreta_aqui

# Credenciais Iniciais do Operador Master
MASTER_LOGIN=seu_login_master_aqui
MASTER_PASSWORD=sua_senha_master_aqui
MASTER_RECOVERY=sua_frase_de_recuperacao_aqui