# FLASK DEBUG (Ambiente de teste. Se produção remover variável)
FLASK_DEBUG=1

# Credenciais do Banco para o Docker
POSTGRES_USER=seu_usuario_postgres_aqui
POSTGRES_PASSWORD=sua_senha_postgres_aqui
POSTGRES_DB=seu_banco_postgres_aqui

# URL dinamicamente montada (o host 'db' e porta '5432' continuam fixos para o Docker)
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}

# Chave de segurança criptográfica do Flask
SECRET_KEY=sua_chave_super_secreta_aqui

# Credenciais Iniciais do Operador Master
MASTER_LOGIN=seu_login_master_aqui
MASTER_PASSWORD=sua_senha_master_aqui
MASTER_RECOVERY=sua_frase_de_recuperacao_aqui



# VARIÁVEIS INSTITUCIONAIS PARA O PROJETO (Opcional)
# Nos campos de footers e outros, podemos utilizar o jinja2 para renderizar variáveis do .env, como {{ NOME_PROJETO }} ou {{ NOME_ONG }}. Assim você pode alterar o nome do projeto ou da ONG apenas alterando o .env, sem precisar alterar o código fonte. Mais informações no arquivo de configuração do Flask no diretório: app.py
RUA=sua_rua_aqui
NUMERO=seu_numero_aqui
BAIRRO=seu_bairro_aqui
CIDADE=sua_cidade_aqui
ESTADO=seu_estado_aqui
CEP=seu_cep_aqui
TELEFONE=sua_telefone_aqui
PIX=seu_pix_aqui
INSTAGRAM=seu_instagram_aqui
FACEBOOK=seu_facebook_aqui
WHATSAPP=seu_whatsapp_aqui
NOME_ONG=nome_ong_parceira
